<div class="container">
    <div class="columns">
        <div class="column">
            <div class="tile is-ancestor">
                <div class="tile">
                    <div class="tile is-parent">
                        <article class="tile is-child box notification is-{{ .Site.Params.style.navbar }}">
                            <div class="columns">
                                <div class="column is-one-fifth">
                                    <!-- Social -->
                                    <p>
                                        <b>Social</b>
                                    </p>
                                    {{ range (where .Site.Pages.ByWeight "Section" "social") }}
                                    <article>
                                        <h3><a href="{{ .Params.social_url }}" target="_blank">{{ .Params.title }}</a></h3>
                                    </article>
                                    {{ end }}
                                </div>
                                <div class="column is-one-fifth">
                                    <p>
                                        <b>People Links</b>
                                    </p>
                                    <article class="post">
                                        <h3><a href="https://dustycloud.org/">Christopher Webber</a></h3>
                                    </article>
                                    <article class="post">
                                        <h3><a href="https://midnightsisters.org/">Aeva Palecek</a></h3>
                                    </article>
                                    <article class="post">
                                        <h3><a href="https://mjg59.dreamwidth.org/">Matthew Garrett</a></h3>
                                    </article>
                                </div>
                                <div class="column is-one-fifth">
                                    <p>
                                        <b>Linux Links</b>
                                    </p>
                                    <article class="post">
                                        <h3><a href="https://lwn.net/">LWN.net</a></h3>
                                    </article>
                                    <article class="post">
                                        <h3><a href="https://www.kernel.org/doc/html/latest/">Linux Documentation</a></h3>
                                    </article>
                                    <article class="post">
                                        <h3><a href="https://www.linuxboot.org/">LinuxBoot</a></h3>
                                    </article>
                                </div>
                                <div class="column is-one-fifth">
                                    <p>
                                        <b>Other Links</b>
                                    </p>
                                    <article class="post">
                                        <h3><a href="https://planet.gnome.org">Planet GNOME</a></h3>
                                    </article>
                                    <article class="post">
                                        <h3><a href="https://chicagolug.org">ChicagoLUG</a></h3>
                                    </article>
                                    <article class="post">
                                        <h3><a href="https://sfconservancy.org/">Software Freedom Conservancy</a></h3>
                                    </article>
                                </div>
                                <div class="column is-one-fifth">
                                    <p>
                                        <b>A Bit More</b>
                                    </p>
                                    <article class="post">
                                        <h3><a href="{{ .Site.BaseURL }}about-site/">About This Site</a></h3>
                                    </article>
                                    <article class="post">
                                        <h3><a href="{{ .Site.BaseURL }}license/">License Information</a></h3>
                                    </article>
                                </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>