<section class="level">
    <div class="container">
     <div class="tile is-ancestor">
      <div class="tile is-vertical">
        <div class="tile">
          <div class="tile is-parent">
            <article class="tile is-child box notification">
              <p class="title">{{ .Title }}</p>
              <article class="media">
                <figure class="media-left">
                  <p class="image is-128x128">
                    <img class="is-square" src="/project/{{ .Params.logo }}" alt="{{ .Params.logo_alt_text }}">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ .Params.name }}</strong>
                      <br />
                      <strong>Website</strong>:
                      <a href="{{ .Params.website }}">{{ .Params.website }}</a>
                      <br /> {{ .Content }}
                    </p>
                  </div>
                </div>
              </article>
            </article>
          </div>
        </div>
      </div>
    </div>
</div>
</section>