<section class="section">
    <div class="container">
        <p class="title">{{ .Title }}</p>
        <article class="media">
          <figure class="media-left">
            <p class="image is-128x128">
              <img src="/project/{{ .Params.logo }}" alt="{{ .Params.logo_alt_text }}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>{{ .Params.name }}</strong>
                <br />
                <strong>Website</strong>: <a href="{{ .Params.website }}">{{ .Params.website }}</a>
                <br />
                {{ .Content }}
              </p>
            </div>
          </div>
        </article>
    </div>
</section>
