{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="section" style="flex:1">

    <div class="container">
      <div class="columns">

        <div class="column is-10">
          <!-- Content -->

          <div style="min-height:56vh">
              {{- where .Paginator.Pages "Section" "post" }}
                {{ .Render "summary" }}
              {{- end }}
          </div>

          <!-- Pagination -->
          {{ partial "pagination-list.html" . }}
        </div>

        <div class="column is-narrow">
          <!-- Taxonomy list -->
          {{ partial "sidenav.html" . }}
        </div>

      </div>
    </div>

  </section>
