{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<section class="section">
  <div class="container">
    <article class="media">
      <figure class="media-left">
        <p class="image is-128x128">
          <img src="/project/gnome.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>The GNOME Project</strong>
            <br />
            <strong>Website</strong>: <a href="https://gnome.org">https://gnome.org</a>
            <br />
            I've contributed to the GNOME project primarily through
            documentation, being one of about a dozen people who wrote most
            of the initial GNOME 3.0 help. I've also written most of the
            <em>gedit</em> documentation, and have contributed
            documentation to the <em>GNOME System Administrators
            Guide</em>, <em>GNOME Passwords and Keys</em>, <em>GNOME
            Terminal</em>, and <em>Deja Dup</em>.
          </p>
        </div>
      </div>
    </article>
  </div>
</section>
{{ end }}
