{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="section" style="flex:1">

    <div class="container">
      <div class="columns">

        <div class="column is-four-fifths">
          <!-- Content -->
          <div style="min-height:56vh">
              {{- range first 1 (where .Paginator.Pages "Section" "post") }}
                {{ .Render "full_content" }}
              {{- end }}
          </div>
          <br />
          <div style="min-height:48vh">
              {{- range after 1 (where .Paginator.Pages "Section" "post") }}
                {{ .Render "summary" }}
              {{- end }}
          </div>
          <br />
         
          <!-- Pagination -->
          {{ partial "pagination-list.html" . }}
        </div>

        <div class="column is-one-fifth">
          <!-- Taxonomy list -->
          {{ partial "sidenav.html" . }}
        </div>

      </div>
    </div>

  </section>

{{ end }}