{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="section min-height:156vh"  style="flex:1">
  <div class="container">
    <div class="columns">
      <div class="column is-four-fifths">
        <div style="min-height:56vh">
          {{ range (where .Data.Pages "Section" "post") }}
          {{ partial "post_file" . }}
          {{- end }}
        </div>
        <br />
        {{ partial "pagination-list.html" . }}
      </div>

      <div class="column is-one-fifth">
        <!-- Taxonomy list -->
        {{ partial "sidenav.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}