{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

<section class="section" style="flex:1">
  <div class="container">
  <!-- Content -->
    <div class="columns">
      <div class="column is-four-fifths">
        <div class="tile is-ancestor">
          <div class="tile is-vertical">
            <div class="tile">
              <div class="tile is-parent">
                <article class="tile is-child box notification">
                  <p class="title is-size-4">{{ .Title }}</p>
                  <p class="subtitle is-size-6">{{ .Date.Format "January 2, 2006" }}</p>
                  <div class="content is-size-6">
                    {{ .Content }}
                  </div>
                {{ partial "gitinfo.html" . }}
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-one-fifth">
          <!-- Taxonomy list -->
          {{ partial "sidenav.html" . }}
        </div>

    </div>
  </div>
  </div>
</section>
{{ end }}